#add_campo,
.btn-remove {
    border: none;
    background: transparent;
}

#add_campo i,
.btn-remove {
    transition: all 0.3s ease;
}

/* Animação em loop infinito */
@keyframes scaleLoop {
    0%,
    100% {
        transform: scale(1); /* Tamanho original do ícone */
    }
    50% {
        transform: scale(1.1); /* Tamanho aumentado do ícone */
    }
}

/* Animação do ícone em hover */
#add_campo i:hover,
.btn-remove:hover {
    animation: scaleLoop 1s infinite; /* Executa a animação em loop infinito */
    filter: brightness(0.9);
}

/* Sombra padrão para os buttons */
.btn-shadow {
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn-lancar {
    margin-left: 10px;
}

/*==============================================
    BUTTON GPQR VIEW     
    =============================================*/
.custom-btn {
    width: fit-content;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    text-decoration: none;
}

.btn-gpqr-view {
    border: none;
    color: #000;
}

.btn-gpqr-view:hover,
.btn-gpqr-view:focus {
    color: #000;
    background: #ffffff;
}

.btn-gpqr-view:active {
    top: 2px;
    color: #000;
}

/*==============================================
    BUTTON VOLTAR     
    =============================================*/
.btn-voltar {
    font-size: 1rem;
    color: #fff;
    filter: drop-shadow(0 0 2px #3b3b3b);
    transition: 0.15s;
}

.btn-voltar:hover {
    filter: none;
    color: #000;
}
