.btn-shadow {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

/*==============================================
    BUTTON GPQR SUCCESS    
    =============================================*/
.btn-gpqr-success {
    background-image: linear-gradient(
        to right,
        #0ba360,
        #3cba92,
        #30dd8a,
        #2bb673
    );

    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-gpqr-success:hover {
    color: #fff;
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-gpqr-success:focus {
    outline: none;
}

/*==============================================
    BUTTON GPQR VIEW     
    =============================================*/

.custom-btn {
    width: fit-content;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    text-decoration: none;
}

.btn-gpqr-view {
    border: none;
    color: #000;
}

.btn-gpqr-view:hover {
    color: #000;
    background: #ffffff;
}

.btn-gpqr-view:active {
    top: 2px;
    color: #000;
}
